<section class="section">
  <!--div>
    En vedette
    <figure class="image">
      <img src="" class="section">
    </figure>
  </div-->
  <p class="title fancy"><span>En vedette</span></p>
  <app-shelf></app-shelf>
  <div>
    <figure class="image">
      <img src="assets/img/legumes.jpg" class="section">
    </figure>
  </div>
  <app-shelf></app-shelf>
  <div>
    <figure class="image">
      <img src="assets/img/fruits.jpg" class="section">
    </figure>
  </div>
  <app-shelf></app-shelf>
  <div>
    <figure class="image">
      <img src="assets/img/viandes.jpg" class="section">
    </figure>
  </div>
  <app-shelf></app-shelf>
</section>
